name: CI & SonarCloud

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  contents: read
  checks: write
  pull-requests: write

jobs:
  build-and-analyze:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
        java-version: [ '17', '21', '23', '25' ]

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java-version }}
          cache: 'maven'

      

      - name: Maven Clean Verify
        env:
          NVD_API_KEY: ${{ secrets.NVD_API_KEY }}
          JAVA_TOOL_OPTIONS: -Djava.awt.headless=true
        run: mvn -B clean verify -Dtest='!es.ull.esit.app.OrderTest'

      - name: Publish Test Report (JDK ${{ matrix.java-version }})
        uses: dorny/test-reporter@v1
        if: always()
        with:
          name: Maven Surefire Tests (JDK ${{ matrix.java-version }})
          path: target/surefire-reports/*.xml
          reporter: java-junit

      - name: SonarCloud Scan
        if: matrix.java-version == '17'
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: >
          mvn -B sonar:sonar
          -Dsonar.projectKey=luciasoyyoo_lab-dht-bicam-cabrera
          -Dsonar.organization=luciasoyyoo
          -Dsonar.host.url=https://sonarcloud.io
          -Dsonar.coverage.jacoco.xmlReportPaths=target/site/jacoco/jacoco.xml